h2, h3 {text-align: center; padding: 1em;}

.ticket {table-layout: fixed; margin-left: auto; margin-right: auto; width: 80%; border: solid 2px #000000;}
.ticket th {
    background-color: #EDEDED;
    padding: 0.4em;
    text-align: left;
    /*border: solid 2px #000000;*/
    height: 30px;
}

/*.ticket td {border: solid 2px #000000; height: 4.8vh; padding-left: 0.6%; font-size: 1em;}*/
.ticket td {height: 4.8vh; padding-left: 0.6%; font-size: 1em;}

.two{ background-color: #EDEDED;}
.one {font-weight: bold;}